<html>
   <body>
    <p>Hi! This is a node in a Twee story. Do you want to....</p>
     <form action="http://localhost:5000/next"  method = "POST">
        <p>  Go to [...node 2]
          <button type = "submit"  value="option1">Submit</button>
        </p>
          <p>  or [...node 3]
          <input type="submit"  value="option2">Submit</button></p>
          <p>  or [perhaps node 4]
          <button type="submit"  value="option3">Submit</button></p>
      </form>
    </p>
   </body>
</html>
