 
            <html> 
                <body> 
                <p>**You visit https://tools.wmflabs.org/arowf/answer to check on some
</p>
                <form action="http://localhost:5000/next"  method = "POST">
                   <p>Change the word "recently" to reference the date of the event 
                    <button name="option" type = "submit"  value="Step1">Submit</button> 
                       <p>Delete the word "recently" and leave the rest as it it 
                    <button name="option" type = "submit"  value="End1">Submit</button> 
                       <p>Delete the claim because it does not have a source 
                    <button name="option" type = "submit"  value="End0">Submit</button> 
                           
            </form>
                 </body>
            </html>
        