 
            <html> 
                <body> 
                <p>When trying to find the correct date, what will you do?
</p>
                <form action="http://localhost:5000/next"  method = "POST">
                   <p>Use my memory of the event for the date it occurred 
                    <button name="option" type = "submit"  value="End2">Submit</button> 
                       <p>Go through my old newspapers to find the particular event 
                    <button name="option" type = "submit"  value="End3">Submit</button> 
                       <p>Search for an online source that refers to the particular event 
                    <button name="option" type = "submit"  value="Step2">Submit</button> 
                           
            </form>
                 </body>
            </html>
        