 
            <html> 
                <body> 
                <p>You are on the right track! Once you've found the information, how would you answer the question?
</p>
                <form action="http://localhost:5000/next"  method = "POST">
                   <p>Replace the word "recently" with the date and touch nothing else  
                    <button name="option" type = "submit"  value="End6">Submit</button> 
                       <p>Replace the word "recently" with the date and cite the source used 
                    <button name="option" type = "submit"  value="Step4">Submit</button> 
                       <p>Cite the source that can be used and let someone else replace "recently" 
                    <button name="option" type = "submit"  value="End7">Submit</button> 
                           
            </form>
                 </body>
            </html>
        